# ```sampley``` exemplar: the point approach
Before going through this exemplar, please consult the Introduction to sampley exemplars (```intro.ipynb```).
<br>This exemplar illustrates an application of the point approach to data contained within two files: one containing survey tracks (```sections.gpkg```) and one containing sightings data (```sightings.gpkg```).

## Setup

### Import the package

In [1]:
from sampley import *

### Set the input folder
To run this exemplar, download the mock data files, put them in a folder, and set the path to the folder below.

In [2]:
input_folder = './input/'

### Set the output folder
To run this exemplar, make a folder to save the outputs in and set the path to the folder below.

In [3]:
output_folder = './output/'

## Stage 1
In Stage 1, we import two files (```sightings.gpkg``` and ```sections.gpkg```) and from them make a ```DataPoints``` and a ```Sections``` object, respectively.

In [4]:
u_sightings = DataPoints.from_file(
    filepath=input_folder+'sightings.gpkg',
    crs_working='EPSG:32619',
    datetime_col='datetime',
    tz_input='UTC-05:00'
)

Success: file successfully input.
Note: reprojection to CRS 'EPSG:32619' not necessary as already in CRS 'EPSG:32619'.
Success: the column 'datetime' successfully reformatted to datetimes.
Success: the timezone of column 'datetime' successfully set to 'UTC-05:00'.
Success: datapoint IDs successfully generated.

In [5]:
u_sections = Sections.from_file(
    filepath=input_folder+'sections.gpkg',
    crs_working='EPSG:32619',
    datetime_col='datetime_beg',
    tz_input='UTC-05:00'
)

Success: file successfully input.
Success: reprojected to CRS 'EPSG:32619'
Success: the column 'datetime_beg' successfully reformatted to datetimes.
Success: the timezone of column 'datetime_beg' successfully set to 'UTC-05:00'.
Note: column 'datetime_beg' renamed to 'datetime'.
Success: section IDs successfully generated.

## Stage 2
In Stage 2, we use the ```DataPoints``` object containing sightings data to make a ```Presences``` object which we thin with a spatial threshold of 10000 m and a temporal threshold of 5 days.
<br>Then, we use that ```Presences``` object and the ```Sections``` object to make an ```AbsenceLines``` object with the same thresholds.
<br>Finally, we use the ```AbsenceLines``` object to make an ```Absences``` object which we also thin with the same thresholds as well as a target equal to the number of presences kept after thinning.

In [6]:
u_presences = Presences.delimit(datapoints=u_sightings)
u_presences.thin(
    sp_threshold=10000,
    tm_threshold=5,
    tm_unit='day')

In [7]:
u_absencelines = AbsenceLines.delimit(
    sections=u_sections,
    presences=u_presences,
    sp_threshold=10000,
    tm_threshold=5,
    tm_unit='day',
)

Note: absence lines to be generated with a temporal threshold of 5 day(s).

In [8]:
u_absences = Absences.delimit(
    absencelines=u_absencelines,
    var='along',
    target=20,
    dfls=None)
u_absences.thin(
    sp_threshold=10000,
    tm_threshold=5,
    tm_unit='day',
    target=len(u_presences.kept))

## Stage 3
In Stage 3, we make a ```Samples``` object from the ```DataPoints``` object, the ```Presences``` object, and the ```Absences``` object.

In [9]:
u_samples = Samples.point(
    datapoints=u_sightings,
    presences=u_presences,
    absences=u_absences,
    cols=['individuals'])

## Output
Finally, we save the ```Samples``` object to the output folder.

In [10]:
u_samples.save(
    folder=output_folder,
    filetype='csv'
)

It should be saved as a CSV with the same name as the ```Samples``` object:

In [11]:
u_samples.name

'samples-presences-sightings-+-absences-a-10000m-5day'

And it should contain the samples:

In [12]:
u_samples.samples

,point_id,point,date,p-a,individuals,datapoint_id
0,p01,POINT (579166.78 4742872.701),2019-01-25,1,1.0,d01
1,p02,POINT (554184.217 4742741.886),2019-01-25,1,2.0,d02
2,p04,POINT (520909.741 4714855.058),2019-02-02,1,1.0,d04
3,p05,POINT (532548.249 4714899.835),2019-02-02,1,2.0,d05
4,p06,POINT (512817.407 4705582.465),2019-02-02,1,1.0,d06
5,p08,POINT (654449.136 4716189.584),2019-02-05,1,5.0,d08
6,p10,POINT (643532.681 4716066.52),2019-02-05,1,1.0,d10
7,p11,POINT (629124.489 4706545.106),2019-02-05,1,3.0,d11
8,p12,POINT (620560.818 4697116.949),2019-02-05,1,2.0,d12
9,a01,POINT (547570.716 4714986.46),2019-02-02,0,NaN,NaN
10,a03,POINT (589050.729 4706009.823),2019-02-02,0,NaN,NaN
11,a06,POINT (538473.443 4705732.418),2019-02-02,0,NaN,NaN
12,a07,POINT (606318.487 4733890.467),2019-02-05,0,NaN,NaN
13,a08,POINT (627206.272 4725023.679),2019-02-05,0,NaN,NaN
14,a09,POINT (623096.238 4715692.071),2019-02-05,0,NaN,NaN
15,a10,POINT (653148.257 4697680.832),2019-02-05,0,NaN,NaN
16,a12,POINT (564311.687 4733555.944),2019-03-03,0,NaN,NaN
17,a20,POINT (527312.751 4733384.943),2019-03-03,0,NaN,NaN